

/*
Author: Bootstrap Themes
Author URI: http://bootstrapthemes.co
*/

/*==========================================
 01.  PREDIFINEED (FROM 1 TO 780 )
 02.  PRELOADER - LINE NO 786
 03.  NAVIGATION - LINE NO 930
 04.  HOME - LINE NO 1150
 05.  THU FEATURE - LINE NO 1280
 06.  THU FLIDE - LINE NO 1355
 07.  THU SERVICE - LINE NO 1385
 08.  PORTFOLIO - LINE NO 1444
 09.  THU SOLUTION - LINE NO 1620
 10.  THU TEAM - LINE NO 1658
 11.  THU CLIENTS FEEDBACK - LINE NO 1730
 12. THU BLOG - LINE NO 1848
 13. THU SUBCRIBS - LINE NO 1935
 14. FOOTER - LINE NO 2020
==========================================*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  
    
    background-color: black;
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'KoHo', sans-serif;
  
    background-position:top center;
    background-size:contain;
    background-repeat:no-repeat;
    background-image: url(../images/dechet01.png);
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix  / */
/*-----------------------------------------------------------------*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/*
    Page Content
------------------------------------------*/

.page-content, 
section { overflow: hidden; }

/*
    Spacing & Alignment 
------------------------------------------*/


.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*
    Je suis pas sure de l'utilité - Pas d'action possible sur img
------------------------------------------*/
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}

/* fleche vers le bas et le faut de la page */
a {
    text-decoration: none;
    outline: none;
}
a {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    /*    direction: rtl;*/
}



p {
    margin: 0 0 15px;
    text-align: left;
    line-height: 1.5rem;

}

p:last-child {
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

h2 {
    color: white ;
    font-size: 50px;

}

.culmn{
    width:100%;
    overflow: hidden;
}
/*
Button
*/
.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-size:14px;
    font-weight: 600;
    border:1px solid;
}
.btn-primary{
    color: #fff;
    background-color: #4466c9;
    border:1px solid;
    border-color: #4466c9;
    padding: 1rem 2rem;
}
.btn-primary:hover{
    background-color: #eee;
    border-color: #eee;
    color:#4466c9;
}

.btn-danger{
    color: #fff;
    background-color: #fc6a42;
    border:1px solid;
    border-color: #fc6a42;
    padding: 1rem 2rem;
}

.btn-danger:hover{
    color: #fc6a42;
    background-color: #eee;
    border-color: #eee;
}



/*
social icon
--------------------------------*/
/*
Extra height css
*/

.m-top-10 {
    margin-top: 10px;
}

}
.m-top-30 {
    margin-top: 30px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-top-50 {
    margin-top: 50px;
}

.m-top-100 {
    margin-top: 100px;
}



/*Section Présentation*/
.head_title{
    overflow: hidden;
    padding-bottom:1rem;
}
.head_title h3 { 
    color: #646464;
    text-align: left;
}
.head_title h4 { 
    color: #646464;
    text-align: left;
    font-size: 20px;
    padding-top: 12px;
}
.head_title p { 
    color: #505050;
    text-align: left;
}

.special_bouton { 
    padding-top:25px;
}
.image_font {
    margin-top: 30px;

}
.trois_item{
    margin-top: 80px;
    margin-bottom: 30px;
}

 /*Fin présentation*/



/*
Nav Menu style
==================*/

.navbar-brand {
    padding: 30px 15px;
}


/*
Home Section style
==================*/

.home{
    background: no-repeat top center;
    background-size: cover;
    position: relative;

    
}
.main_home{
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 450px;
}

@media screen and (max-width: 360px)
{
  .main_home{  
    
        padding-bottom:300px;
   } 
}

.home_text h1{
    font-family: 'KoHo', sans-serif;
    color: #505050;
    font-size:8rem;
    font-weight: 500;
    line-height: 4.5rem;
}

.scrooldown{
    position: absolute;
    left: 48.5%;
    bottom: 10%;
    width: 40px;
    height: 40px;
    line-height: 37px;
    background: #f4f5f9;
    border-radius: 50%;
    text-align: center;
    z-index: 3;
}
.scrooldown a i{
    font-size:0.775rem;
    color:#e74c3c;
}

/*

J'en suis là du cleen

Featured section style
========================*/


.features_item .f_item_icon{
    position: center;
    width:20%;
    display: block;
    margin-right: 15px;
}
.features_item .f_item_icon i{
    position: center;
    font-size:4rem;
    color:#fc6a42;
}
.features_item .f_item_text{
    position: center;
    display: block;
    width:70%;
}


/*
Screen01 Section style
=====================*/

.screen01{
    overflow: hidden;
    width: 100%;
}


.screen01_img{
    position: relative;
    background-color: none;
}

.screen01_img img{
    position: relative;
    z-index: 1;
}


.screen01_content p{
    font-size:1.500rem;
    line-height: 2.125rem;
}

.screen01_content ul li{
    border: 1px dashed #ddd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 0px 10px 0px #ededf2;
    margin-right: -15px;
    background-color: #fff;
    position: relative;
    color:#ededf2;
}

.screen01_content ul li:nth-child(1){
    z-index: 2; 
}

.screen01_content ul li:nth-child(2){
    z-index: 1;
}

.screen01_content ul li:nth-child(3){
    z-index: 0
}


/*
Footer Section style
=====================*/
nav.navbar.bootsnav.footer-menu{
    background-color: transparent;
    border-bottom: 0px;
}
nav.navbar.bootsnav.footer-menu ul li a{
    color:#b5b5c8;
}
nav.navbar.bootsnav.footer-menu ul li a:hover{
    color:#fff;
}


/*Scroll Up*/
.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}

.scrollup:hover {
    background-color: grey;
    color:#fff;
}